@media screen and (min-width: 1950px) {
    /*.bannerimg-text{height: 192px;}
    .bannerimg-text .banner-img{height: 193px;}
*/

      /*@media not all and (min-resolution:.001dpcm) { @media
{
   .bannerimg-text .banner-img { 

       height: 194px;

   }
}}

_::-webkit-full-page-media, _:future, :root .bannerimg-text .banner-img {

height: 194px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

::i-block-chrome,.bannerimg-text .banner-img{height: 194px;}
}*/




}
@media screen and (min-width: 1700px) {
   /* .bannerimg-text{height: 192px;}
    .bannerimg-text .banner-img{height: 193px;}*/
    @media not all and (min-resolution:.001dpcm) { @media
{
   /*.bannerimg-text .banner-img { 

       height: 190px;

   }*/
}}

_/*::-webkit-full-page-media, _:future, :root .bannerimg-text .banner-img {

height: 190px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
::i-block-chrome,.bannerimg-text .banner-img{height: 190px;}
}
*/

}
@media screen and (max-width: 1500px) {
    /*.bannerimg-text .banner-img{height: 193.5px;}*/
   /* @-moz-document url-prefix() { .bannerimg-text .banner-img{height: 193px;} }
    @media not all and (min-resolution:.001dpcm) { @media
{
   .bannerimg-text .banner-img { 

       height: 192.5px;

   }
}}

_::-webkit-full-page-media, _:future, :root .bannerimg-text .banner-img {

height: 192.5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

::i-block-chrome,.bannerimg-text .banner-img{height: 192.5px;}
}

*/

}
@media screen and (min-width: 1370px) {

}    
@media screen and (max-width: 1280px) {
    /*header*/
    header nav ul li{padding:0px 25px;}       
    /*banner*/
     .main-banner {height: 687px;}  
/*     .main-banner h2 { font-size: 50px; }         
*/     /*service*/    
     .hservice-head {font-size: 22px;}
     h3 { font-size: 33px; }         
     /*footer*/
    .footer-support { margin-bottom: 20px;}
    .bannerimg-text .banner-img{height: 193px;}
}
@media screen and (max-width: 1180px) {
    .container{max-width:1000px;}
    /*banner*/
     .main-banner {height: 500px;} 
     .main-banner h2 { font-size: 40px; }
     .main-banner .banner-box{max-width: 460px;}
    
     /********************************404 Page*******************************/
     .error-404.not-found img{ width: 40%;}
 /*    .bannerimg-text .banner-text{width: 70.3%;}
/*/*     /*.bannerimg-text .banner-img{width: 29.7%;}*/
*/     .flip-box{margin-bottom: 0;}
/*     .bannerimg-text .banner-img {height: 193.5px;}
*/     /* @-moz-document url-prefix() { .bannerimg-text .banner-img{height: 193px;} }
    @media not all and (min-resolution:.001dpcm) { @media
{
   .bannerimg-text .banner-img { 

       height: 190px;

   }
}}

_::-webkit-full-page-media, _:future, :root .bannerimg-text .banner-img {

height: 190px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 

::i-block-chrome,.bannerimg-text .banner-img{height: 190px;}
}*/
}                    

@media screen and (max-width: 1080px) {
    /*header*/
    header .logo { width: 100%; max-width: 160px; }
    header nav ul li{padding:0px 15px;}
    header nav ul li a{font-size:15px;}
    header .head-call p, header .head-call a{font-size: 13px;}      
    /*service*/    
     .hservice-head {font-size: 19px;}
     .front .hservice-head { margin-bottom: 25px; }
     .service-banner .flip-content{padding:25px 20px 12px;}
     .contact h3,h3 { font-size: 30px; }             
     /*Highlighted Banner*/-->                         
    .bannerimg-text .banner-text .banner-innertext p {font-size: 15px; line-height: 23px;  margin-bottom: 10px;  }
    .bannerimg-text .banner-text .banner-innertext{max-width: 95%;}
    /* contact   */
    .testimonial h3 { margin-bottom: 30px; }
     /*@-moz-document url-prefix() { .bannerimg-text .banner-img{height: 193px;} }*/
     .flip-box li.flip-container{float: none;display: inline-block;}
}

@media screen and (max-width: 1023px) {
    .container{max-width:750px;}       
    header .logo { width: 100%; max-width: 145px; }   
    header.header{padding:6px 60px; min-height: 75px;}   
    #wrapper{background:#fff;}    
    /*mobile menu css*/
    .menu-btn{max-width: 35px;display:inline-block;float:left;}
    .mm-panels>.mm-panel{padding:0px;text-align: left;}
    .mm-panels>.mm-panel>.mm-listview{margin:0px;}
    .mm-listview>li>a, .mm-listview>li>span{padding:10px;}
    .mm-listview>li:not(.mm-divider):after {left:0px;}
    .mm-navbar.mm-navbar-top.mm-navbar-top-1.mm-navbar-size-1.mm-hasbtns{display:none;}
    .mm-hasnavbar-top-1 .mm-panels, .mm-navbar-top-2{top:0px;}
    .mm-hasnavbar-top-2 .mm-panels {  top: 40px; }
    .mm-menu>.mm-navbar { background: #2c3e50;}
    .mm-menu .mm-navbar a, .mm-menu .mm-navbar>*,.mm-menu .mm-btn:after, .mm-menu .mm-btn:before{border-color:#fff;color:#fff;}
    .desktop-menu,.head-call{display:none;}
    header .logo{ position: absolute; left: 50%; transform: translate(-50%,0);}
    .sticky .menu-btn i, .sticky .mobile-call i{color:#2c3e50 !important;}
    header .menu-btn{font-size: 24px;}  
    .mobile-call{display:inline-block; float: right;}
    .mobile-call a{margin:0px 15px;}      
    .menu-btn,.mobile-call{margin-top: 21px;}
    .mob-call i{transform:rotate(110deg);font-size: 19px;}
    .mob-mail i{font-size: 22px;}
    .mobile-call i{vertical-align: middle;}
    /*main banner*/
    .main-banner {height: 350px;}
    .main-banner h2 { font-size: 40px;}
    /*services*/
    .flip-box li.flip-container{width: 313px;float: none;display: inline-block;}
    .hservice-head{min-height: 90px;}
    .flip-box li.flip-container{margin-right: 0px;}
    .flip-box li.flip-container:nth-child(odd){margin-right: 16px !important;}
    .flip-box li.flip-container{margin-bottom: 16px;}
    .service-banner p{font-size: 19px;}
    /*company*/
    .work,.company,.group,.bannerimg-text,.testimonial,.flip-box{margin-bottom:40px;}
    /*Group*/
    .group h3{margin-bottom: 25px;}
    /* highlighted banner   */
    .bannerimg-text .banner-text .banner-innertext{ font-size: 14px;  padding: 5px;}
    .bannerimg-text{height: auto;background:#2c3e50; display: flex; align-items: center; }
    .bannerimg-text .banner-img span img{width:auto;}   
    .bannerimg-text .banner-img{margin-right: 2%;height: 204px;}
    .bannerimg-text .banner-text::before{content:none !important;}    
    
    /*contanct*/
    .contact p{font-size: 14px;}
    .contact h3, h3 { font-size: 28px; }
    .contact h3{margin-bottom: 18px;}
    .contact .contact-left, .contact .contact-right{width:48.5%;}
    .contact .contact-left{ margin-right: 3%;}   
    .contact input, .contact textarea {width: 100%;}
    /*    hiring*/
    .hiring-text{max-width: 100%;}    
    /*footer*/
    .footer-links .footer-menu li{margin: 0px 21px;} 
    .footer-links{height:auto;}
    
    /***************About Page****************/
    .team ul li{width:31.6%; margin-bottom:30px;}     
    .team ul .member-detail .member-img,.team ul .member-detail .member-img p{height:248px;}
    .team ul .member-detail h4 { font-size: 20px; line-height: 30px;} 
    .team ul .member-detail span{line-height: 25px; font-size: 16px;}
    .team .team-detail { margin-bottom: 35px; }
    .team { margin-bottom: 25px; }  
    .service-banner{height: 180px!important;}  
    
/*    */
    .work .work-content{margin:0px 0.1% 12px;}
}
@media screen and (max-width: 959px) {
    .bannerimg-text .banner-img,.bannerimg-text .banner-text{ width:100%; display:block;}  
    .footer-links .footer-menu li { margin: 0px 11px; }   

      /********************************404 Page*******************************/
     .error-404.not-found img{ width: 34%;}
     .error-404.not-found{margin: 15% 0px 8%;} 
     .main-content h1{font-size: 40px;}
     span.letter { font-size: 39px;}
}    
@media screen and (max-width: 767px) {
    .container{max-width:620px;}
/*    header*/
    header.header{padding: 6px 20px;}
    .mob-mail{margin-right: 0px !important}
    /*main banner*/
    .main-banner { height: 250px; margin-bottom:35px;}
    .main-banner h2 { font-size: 25px;}
    /*flip-box*/
    .flip-box{margin-bottom:35px;}
    .work h3{margin-bottom:30px;}
    .back .hservice-head p,.back .hservice-con{font-size: 14px; line-height: 21px;}
    /*contact*/
    .contact .contact-left, .contact .contact-right { width: 100%; }
    .contact,.company {height:auto;}
    .contact{padding: 33px 0px 0px;}
    /*highlighted banner*/
    .bannerimg-text .banner-text,.bannerimg-text{width:100%; display:block;text-align: center;}
    .bannerimg-text .banner-img{width:30%;margin:0px auto;float:none;background-size: contain;background-position: center;}
    .bannerimg-text{ padding: 35px 10px 5px;}
    .bannerimg-text .banner-text .banner-innertext{margin:0px auto;    max-width: 70%;}
    /*company*/
    .company-detail .company-detail-box{ background:rgba(255,255,255,.7); padding:40px 20px; }
    .company-detail,.company-detail .company-detail-box{max-width:100%; width:100%;}
    .company-detail::before{content:none;}
    .company-detail .detail-text{font-size: 14px;}
    
    /*    testimonial*/                                                                                      
    .testimonial .testimonial-inner-img{margin:0px auto 20px;}
    .testimonial .testimonial-text{font-size: 16px; line-height: 25px;}
    .testimonial h3 { margin-bottom: 20px; }

    /* Office Company Group */
    .group{display: none;}
    .bannerimg-text .banner-img{width: 100%;}
    .bannerimg-text .banner-img span{display: inline-block;}

   /*    footer*/
    .footer-support { margin-bottom: 7px;}
    
    /***************About Page****************/
    .team ul li{width:48.4%; margin-right:0px !important;}     
    .team ul .member-detail h4 {font-size: 18px;} 
    .team h3 { margin-bottom: 15px; }  
    .team ul .member-detail span{line-height: 20px;}  
    
/*    Thank you*/
    .page-id-219 #primary{padding:143px 10px 90px;}
    .page-id-219 h1 {font-size: 35px;}
/*    .flip-box li.flip-container, .front, .back{height: 330px;}
*/
    .back .hservice-head p{margin-bottom: 0;}
    .flip-box li.flip-container{width: 300px;}
    .back .hservice-head p{height: 90px;}
    .flip-box li.flip-container, .front, .back{height: 300px;}
    .main-content h1{font-size: 38px;}
    .main-content h2{font-size: 28px;margin-top: 15px;}
    .main-content h3{line-height: 30px;margin-bottom: 10px;font-size: 23px;}
    span.letter { font-size: 36px;}    
}

@media screen and (max-width: 639px) {
    .container{width:548px;} 
      /*main banner*/
    .main-banner { height: 200px;}
    .main-banner .banner-box{top:56%;}
    .main-banner h2 { font-size: 23px;  line-height: 26px;}
    /*contact*/
    .contact h3, h3 { font-size: 23px;}      
/*    flipbox   */
    .flip-box li.flip-container {  width: 264px; }
    .back .hservice-head, .back .hservice-con { padding-left: 0px;}
/*    .flip-box li.flip-container, .front, .back{height: 320px;}
*/ 
      .flip-box li.flip-container, .front, .back{height: 264px;}
      .front{padding: 15px 35px 0px 35px;}
      .back{padding: 10px 20px 0px 20px;}
      .main-content h1 {font-size: 36px;}
      span.letter {  font-size: 34px;}
      .main-content p{font-size: 16px;}
      .main-content h2{margin-bottom: 10px;line-height: 33px;}
      .main-content h3{margin-top: 10px;}
}

@media screen and (max-width: 567px) {
    .container{max-width:400px;}
/*    flip-box*/
    .flip-box li.flip-container,.flip-box li.flip-container:nth-child(odd) { width: 75% !important; margin-right: 0px !important; float: none !important;}
/*   header*/
    header .logo{max-width: 100px;}
    header.header{ min-height: 57px; }  
    .menu-btn, .mobile-call {  margin-top: 13px; } 
    .mobile-call a { margin: 0px 10px; }
    .mob-call i,.mob-mail i{font-size:15px;} 
    header .menu-btn{font-size: 20px;} 

/*    highlighted banner*/
    .bannerimg-text .banner-img{width: 100%;}  
    .back .hservice-con{ left: 50%;  transform: translate(-50%,0%);  text-align: center;}
    
/*    contact*/
    .contact h3, h3 { font-size: 19px; } 
    .contact .submit input{ font-size: 16px; }
    
       /***************About Page****************/
    .team ul li{width:100%;} 
    .front{padding: 35px;}
    .back{padding: 28px;} 
    
     /********************************404 Page*******************************/
     .error-404.not-found img{ width: 34%;}
     .error-404.not-found{margin: 24% 0px 10%;}
     .flip-box li.flip-container, .front, .back{height: 300px;}

     .main-content h1{font-size: 34px;}
      span.letter {  font-size: 32px;}
     .main-content h2{font-size: 26px;line-height: 30px;}
     .main-content h3{font-size: 22px;}
     .main-content p{font-size: 15px;}
     .main-content ul li{font-size: 15px;}
     
     .bannerimg-text .banner-text .banner-innertext {  max-width: 95%;}
}

@media screen and (max-width: 413px) {
    .container{max-width:300px;}
    .service-banner {height: 240px!important;}
    .main-content h1{font-size: 32px;}
      span.letter {  font-size: 30px;}
    .main-content h2{font-size: 24px;margin-top: 10px;line-height: 30px;}
    .main-content h3{font-size: 20px;margin-bottom: 5px;}
    .main-content h3{line-height: 25px;}
    .main-content a{word-break: break-word;}
    /*    flip-box*/
    .flip-box li.flip-container, .front, .back{height: 300px;}
    .flip-box li.flip-container,.flip-box li.flip-container:nth-child(odd) { width: 100% !important; margin-right: 0px !important;}
}

@media screen and (max-width: 320px) {
     .main-content h1{font-size: 25px;}
      span.letter {  font-size: 25px;}  
       /*    banner */
    .main-banner h2 { font-size: 22px;  line-height: 26px; }
}