@charset "utf-8";
@font-face {
    font-family: 'freightsansw01-semiboldRg';
    src: url('../fonts/freight_sans_w01_semibold-webfont.woff2') format('woff2'),
         url('../fonts/freight_sans_w01_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}  
/*Reset Css [START]*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a{background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0; -webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;
-ms-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;display: inline-block;}
a:hover{text-decoration:none;}
abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default;}
input[type="checkbox"],input[type="radio"] {-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box; box-shadow:none;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner{border:0;padding:0;}
input[type="text"]{outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-shadow:none;}
textarea{overflow:auto;vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-weight:400;}
img{max-width: 100%; height: auto; width: auto; width: auto/9; border:none; vertical-align: top;}
*{ margin:0px; padding:0px;}
nav ul{list-style:none;}
ul{list-style:none;}
strong{font-weight:700;}
em{font-style: italic;}
a,div,figure,input,li,ol,p,section,span,textarea,ul,header,footer{-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
body{font-size:14px; text-align:center; background:#fff; line-height:1; font-family: 'freightsansw01-semiboldRg';}
.wrapper{ width:100%; float:left;}
.container{ width:100%; max-width:980px; margin:0 auto;}
.container-fluid{width:100%; float: left;}
.box-size{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
:focus{outline: 0px !important;}
/*Reset Css [CLOSE]*/

/*header*/
header.header{padding:20px 60px;position: fixed; z-index: 999;}
.header-container{ width:100%; position: absolute; left: 50%; transform: translate(-50%,0%);}
header .logo, header nav{float:left;}
header .logo{width: 100%;/*max-width: 198px;*/ max-width:160px;  position: relative; z-index: 1;}
header nav{padding:37px 0px 10px;}
header nav ul li{display:inline-block; padding:0px 30px; text-transform:uppercase;}
header nav ul li a{font-size: 16px; color:#2c3e50;letter-spacing: 1px;}
header .head-call{float:right;text-align:right; padding:7px 0px;width: 100%;max-width: 201.63px;position: relative;z-index: 1;}
header .head-call p,header .head-call a{ font-size:14px;  color:#2c3e50; line-height:24px;letter-spacing:1px;}
header a{transition:.7s all ease;}
header.sticky nav ul li a:hover, header.sticky .head-call a:hover{color:#5a6f8b !important;}
.stickylogo,header.sticky .nonstickylogo{display:none;}
header.sticky .stickylogo{display:block;}

/*mobile menu css*/
.menu-btn,.mobile-call,.mobile-menu{display:none;}

/*sticly header*/
header.sticky { background: #fff; box-shadow: 0 2px 4px 0 rgba(50,50,50,.2); z-index: 9999; position: fixed !important; top: 0;  left: 0; -webkit-animation: fadeInDown 1s both;
    animation: fadeInDown 1s both; margin:0px; color:#2c3e50 !important;}
header.sticky nav ul li a, header.sticky .head-call p, header.sticky .head-call a{color:#2c3e50 !important;}

/*banner*/
.main-banner{height:819px; background-size:cover !important; background-repeat: no-repeat !important;position: relative; margin-bottom:50px;}
.main-banner h2{font-size:64px; color:#fff;}
.main-banner .banner-box{width: 100%;max-width: 750px;position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

/*Flip*/
.flip-container {-webkit-perspective: 1000; -moz-perspective: 1000;  -o-perspective: 1000; perspective: 1000;  }
.flip-container:hover .flipper, .flip-container.hover .flipper { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg);  
     transform: rotateY(180deg);  }  

/*.service-banner:hover p { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg);  
     transform: rotateY(180deg);  }  

.service-banner:hover span { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg);  
     transform: rotateY(180deg);  }  


.service-banner p { -webkit-transition: 0.6s; -webkit-transform-style: preserve-3d; -moz-transition: 0.6s; -moz-transform-style: preserve-3d;
  -o-transition: 0.6s; -o-transform-style: preserve-3d; transition: 0.6s; transform-style: preserve-3d;position: relative;}     
*/
.flip-box{margin-bottom: 70px;} 
.flipper { -webkit-transition: 0.6s; -webkit-transform-style: preserve-3d; -moz-transition: 0.6s; -moz-transform-style: preserve-3d;
  -o-transition: 0.6s; -o-transform-style: preserve-3d; transition: 0.6s; transform-style: preserve-3d;position: relative;} 
.front, .back { -webkit-backface-visibility: hidden;-moz-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; padding:39px 35px;
     position: absolute; top: 0; left: 0;}                                     
.hservice-img{margin-bottom: 6px;}
.hservice-head{font-size:25px; color:#5a708c; line-height: 26px; min-height: 105px;}
.front .hservice-head{margin-bottom: 44px;}
.flip-box li.flip-container,.front, .back{ height:313px;}
.flip-box li.flip-container { float: left; width: 313px; margin-right: 19px; margin-bottom:30px; }
.flip-box ul li.flip-container:nth-child(3n){margin-right:0px;}     
.back { text-align:left; -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); 
    background: #fff; padding: 28px;padding: 20px 28px 28px 28px;}
.back .hservice-head, .back .hservice-con{padding-left: 27px;}
.back figure{margin-bottom: 0px;}
.back .hservice-con{font-size: 16px; position: absolute;  bottom: 28px;}
.back .hservice-head{ margin-bottom: 13px;}
.back .hservice-head p{font-size:18px; font-family: 'Lato', sans-serif; text-align: left;line-height: 22px;height: 110px;overflow: hidden;
margin-bottom: 10px;}
.front .name { font-size: 2em; display: inline-block; background: rgba(33, 33, 33, 0.9); color: #f8f8f8; font-family: Courier;
    padding: 5px 10px; border-radius: 5px; bottom: 60px; left: 25%; position: absolute; text-shadow: 0.1em 0.1em 0.05em #333; -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg); -o-transform: rotate(-20deg); transform: rotate(-20deg); }
.front figure,.back figure { display: table; height: 70px; width: 100%; float: left;  table-layout: fixed; text-align: center;  vertical-align: middle; margin-bottom: 12px; }
.front figure span,.back figure span{  display: table-cell;  vertical-align: middle;  height: 70px; }
.flip-box img { display: inline-block; width: auto; height: auto; max-width: 100%; max-height: 100%; vertical-align: middle; }
.back figure,.back figure span{height:55px;}
.hservice-con{font-size:14px; text-transform:uppercase}
.flip-box li.flip-container .detail-btn{border:1px solid transparent !important;}
.flip-box li.flip-container .detail-btn:hover{color:#2c3d50 !important; background: transparent !important;}

.flip-box li.flip-container:first-child .front,.flip-box li.flip-container:first-child .back{border: 3px solid #eac700;}
.flip-box li.flip-container:first-child span, .flip-box li.flip-container:nth-child(1) .hservice-con a,.flip-box li.flip-container:first-child .detail-btn{color:#eac700;}

.flip-box li.flip-container:nth-child(2) .front,.flip-box li.flip-container:nth-child(2) .back{border: 3px solid #8cc051;}
.flip-box li.flip-container:nth-child(2) span, .flip-box li.flip-container:nth-child(2) .hservice-con a,.flip-box li.flip-container:nth-child(2) .detail-btn{color:#8cc051;}

.flip-box li.flip-container:nth-child(3) .front,.flip-box li.flip-container:nth-child(3) .back{border: 3px solid #48cfae;}
.flip-box li.flip-container:nth-child(3) span, .flip-box li.flip-container:nth-child(3) .hservice-con a,.flip-box li.flip-container:nth-child(3) .detail-btn{color:#48cfae;}

.flip-box li.flip-container:nth-child(4) .front,.flip-box li.flip-container:nth-child(4) .back{border: 3px solid #3baeda;}
.flip-box li.flip-container:nth-child(4) span, .flip-box li.flip-container:nth-child(4) .hservice-con a,.flip-box li.flip-container:nth-child(4) .detail-btn{color:#3baeda;}

.flip-box li.flip-container:nth-child(5) .front,.flip-box li.flip-container:nth-child(5) .back{border: 3px solid #4b89dc;}
.flip-box li.flip-container:nth-child(5) span, .flip-box li.flip-container:nth-child(5) .hservice-con a,.flip-box li.flip-container:nth-child(5) .detail-btn{color:#4b89dc;}

.flip-box li.flip-container:nth-child(6) .front,.flip-box li.flip-container:nth-child(6) .back{border: 3px solid #967bdc;}
.flip-box li.flip-container:nth-child(6) span, .flip-box li.flip-container:nth-child(6) .hservice-con a,.flip-box li.flip-container:nth-child(6) .detail-btn{color:#967bdc;}

.flip-box .servicebtnul li.flip-container:first-child .front, .flip-box .servicebtnul li.flip-container:first-child .back{border: 0px solid #eac700;}

.flip-box li.flip-container .detail-btn:hover{background: #2c3d50; border:1px solid #2c3d50; }
.flip-box li.flip-container .back .service-button{ color:#2c3d50; }

.flip-box li.flip-container .hservice-con a:hover{ color:#000;}

/*service banner*/
.service-banner p,.service-banner span{font-size: 25px; color:#5a708c; width:100%; max-width:605px; margin:0px auto 24px; line-height: 26px;}
.service-banner span{font-size: 14px;-webkit-transition: 0.6s; -webkit-transform-style: preserve-3d; -moz-transition: 0.6s; -moz-transform-style: preserve-3d;
  -o-transition: 0.6s; -o-transform-style: preserve-3d; transition: 0.6s; transform-style: preserve-3d;position: relative;}
.service-banner .flip-content{width: 100%;display: inline-block;text-align: center;border:3px solid #5a708b; padding:47px 20px 12px; }
.service-banner{height: 205px!important;}
.service-banner .front span{width: 100%;display: inline-block;}
.service-banner{width: 100%!important;float: left!important;text-align: center!important;border: none!important;}
.service-banner span{color:#5a708c!important;text-align: center!important;}
.service-banner p{text-align: center!important;}
.service-banner .back span{text-align: center!important;}
.servicebtnul .front,.servicebtnul .back{padding:0px;}
.hservicebtnh:hover pre{ color:#000;}
.service-banner .back a:hover{color:#5a708c;}
.service-banner .flip-content a{ width:auto;}
#f1_container{position:relative;margin:0px auto;width:450px;height:281px;z-index:1;overflow: inherit;}
#f1_container{perspective:1000}
#f1_card{width:100%;height:100%;transform-style:preserve-3d;transition:all 1.0 linear}
#f1_container:hover #f1_card{transform:rotateX(-180deg)}
.face{position:absolute;width:100%;height:100% !important;backface-visibility:hidden}
.face.back{transform:rotateX(180deg)}
.flip-link{margin-bottom: 24px;text-align: center;}
/*work*/
h3{ font-size: 36px; color:#2c3e50;  }
.work h3{ margin-bottom:59px  }
.work{margin-bottom: 64px;}
.work .work-content { display: table !important; height: 97px; /*width: 100%;*/ float: left;  table-layout: fixed; text-align: center;  vertical-align: middle;
    margin:0px 50px 12px; }
.work .work-content .work-img {  display: table-cell;  vertical-align: middle;  height: 97px; }
.work .work-content .work-img img { display: inline-block; width: auto; height: auto; max-width: 100%; max-height: 100%; vertical-align: middle; }

/*Company*/
.company{height:509px; background-size:cover !important; background-repeat: no-repeat !important;position: relative; margin-botttom:50px;overflow: hidden; margin-bottom: 73px;}
.company-detail{width:50%; float:right; text-align: left; height: 100%; position:relative; }
.company-detail::before { border-bottom: 510px solid  rgba(255,255,255,.7); border-left: 247px solid transparent; position: absolute; content: " "; width: 100%;  
    left: -247px; top: 00px; height: 0;overflow-x: hidden; }
.company-detail .company-detail-box{ position: relative;padding: 90px 0px 65px; max-width: 420px;}   
.company-detail h3{margin-bottom:28px;}     
.company-detail .detail-text{ font-size: 16px; color:#2c3e50; line-height: 21px;  font-family: 'Lato', sans-serif; margin-bottom: 40px; }
.detail-btn{font-size: 18.09px; color:#2c3d50; line-height: 30.19px; border:3px solid #2c3d50; display: inline-block; padding:0px 16px;}
.detail-btn:hover{background: #2c3d50; color:#fff;}

/*group*/
.group,.group h3{ margin-bottom: 76px; }

/*Highlighted Banner*/
.bannerimg-text{display: table; table-layout: fixed; overflow: hidden; text-align: left; color:#fff; font-family: 'Lato', sans-serif; font-style: italic; font-size:18px; line-height: 25px; margin-bottom: 70px;}    
.bannerimg-text .banner-text{width:78.3%;height:100%;position:relative; display: table-cell; vertical-align: middle;}
.bannerimg-text .banner-img{ display: table-cell; width: 100%; float: left;  text-align: center;  vertical-align: middle; background: url('../images/banner-img.png') no-repeat top left;height: 193px;background-size: cover;}
/*@media screen and (min-color-index:0) 
and(-webkit-min-device-pixel-ratio:0) { @media
{
    .bannerimg-text .banner-img { 

        height: 194px;

    }
}}*/
.bannerimg-text .banner-img span{  display: table-cell;  vertical-align: middle;  height: 193px; }
.bannerimg-text .banner-img span img { display: inline-block; width: 100%; height: auto; max-width: 100%; max-height: 100%; vertical-align: middle; }
.bannerimg-text .banner-text::before { border-bottom: 194px solid #2c3e50; border-left: 112px solid transparent; position: absolute; content: " "; width: 100%;
    left: -112px; top: 0px;}
.bannerimg-text .banner-text .banner-innertext{ position: relative; z-index: 2; font-size:18px; width:100%; max-width: 900px;}    
.bannerimg-text .banner-text .banner-innertext p{ margin-bottom:17px;}

/*testimonial*/
.testimonial h3{margin-bottom: 60px;}
.testimonial{margin-bottom: 68px;}
.testimonial-carousel{font-family: 'Lato', sans-serif;}
.testimonial .testimonial-inner-img{ display: table; height: 145px; margin:0px auto 40px; table-layout: fixed; text-align: center;  vertical-align: middle;  }
.testimonial .testimonial-inner-img .testimonial-img{  display: table-cell;  vertical-align: middle;  height: 145px; }
.testimonial .testimonial-inner-img .testimonial-img img { display: inline-block; width: 100%; height: auto; max-width: 100%; max-height: 100%; vertical-align: middle; }
.testimonial .testimonial-text{ font-style: italic; font-size:18px; line-height: 25px; color:#2c3e50; width:100%; max-width: 477px; margin:0px auto 30px; padding:0px 15px; } 
.testimonial .testimonial-text h6{ font-weight:bold; font-size:18px; line-height: 25px; color:#2c3e50; margin-top: 30px; font-style: normal;} 
.owl-dot { width: 12px; height: 12px; border: 1px solid #5a708c !important; border-radius: 100%; margin: 0px 4px;  }
.owl-dot.active { background: #5a708c !important; }

/*contact*/
.contact{height:auto; position: relative; text-align: left; color:#fff; font-family: 'Lato', sans-serif; font-size:16px; line-height: 27px; margin-bottom: 0px; 
    padding:53px 0px 39px; }    
.contact h3{font-size:38px; color:#fff;font-family: 'freightsansw01-semiboldRg'; margin-bottom: 25px;}
.contact p{margin-bottom:22px;}
.contact .contact-left,.contact .contact-right{float: left; width:50%;}    
.contact input,.contact textarea{width:492px; height:47px;border:0px; padding:19px 17px;}
.contact textarea{height:115px;}
:-moz-placeholder,:-ms-input-placeholder,::-moz-placeholder,::-webkit-input-placeholder { color: #2c3e50; font-size: 16px;  font-family: 'Lato', sans-serif !important;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{font-family: 'Lato', sans-serif !important;}
input::-moz-placeholder,textarea::-moz-placeholder{font-family: 'Lato', sans-serif !important;}
.contact .submit input{ background: transparent; padding:0px; font-size:18px; color:#fff;font-family: 'freightsansw01-semiboldRg'; border:3px solid #fff; width:154px;
    transition:.7s all ease; box-sizing:border-box;}
.contact .submit input:hover{background:#fff; color:#2c3d50;}
div.wpcf7-response-output{ border: 2px solid #ff0000 !important;}
.wpcf7-form-control-wrap {    position: relative;width: 100% !important;float: left;}
.div.wpcf7-mail-sent-ng{border:none !important}
div.wpcf7-mail-sent-ok,div.wpcf7-validation-errors,div.wpcf7-mail-sent-ng{border:none !important;display:none !important}
#checkb{width:auto; height:auto;}
.contact label{float: left; width:100%; margin-bottom: 18px;}
.checkbox-container span{font-size: 16px;font-family: 'Lato', sans-serif !important;cursor: pointer;}
.checkbox-container .acceptance-352 span.wpcf7-list-item{margin-left:14px;}
.contact .submit{float:left; width:100%;}
/* checkbox */  
.checkbox-container{display:block;position:relative;margin-bottom:12px;cursor:pointer;font-size:22px;-webkit-user-select:none;
    -moz-user-select:none;-ms-user-select:none;user-select:none;width:auto !important;}
.checkbox-container input{height:18px;width:18px !important; margin:0px 10px 0px 0px;cursor: pointer;}
.checkbox-container span.wpcf7-list-item{margin:0px;}    
.contact .contact-left a{ color:#fff; }
.contact .contact-left a:hover{ text-decoration: underline; }
        
/*footer*/
.hiring{height:auto; background-size:cover !important; background-repeat: no-repeat !important;position: relative; margin-botttom:0px;color:#2c3e50; 
     font-size:18px; line-height: 25px; padding:41px 0px 36px;  }
.hiring h3{ margin-bottom:25px; }         
.hiring-text{color: #2c3e50; max-width:452px; width:100%;margin: 0px auto; font-size: 18px;  font-family: 'Lato', sans-serif;}
.hiring .detail-btn{margin-top:23px;padding: 4px 12px;}

/*Footer Links*/
.footer-links{background-size:cover !important; background-repeat: no-repeat !important;position: relative; margin-botttom:0px;color:#fff;
    font-family: 'Lato', sans-serif; font-size:16px; line-height: 40.01px; padding:36px 0px;  }
.footer-links .footer-menu{padding-bottom: 22px; width:100%;  margin:0px auto; }
.footer-links .footer-menu li{display:inline-block; margin:0px 24px; }          
.footer-links a{color:#fff;}
.footer-logo{ margin-bottom: 33px; }
.footer-support{ margin-bottom: 20px; border-bottom: 1px solid #fff; border-top: 1px solid #fff; max-width:918px; padding: 16.5px 0px;}

.list-links ul li{display:inline-block;margin:0px 14px;}
.list-links a{ vertical-align: middle;background-position:center center; background-size:cover;}
.list-links .fb{background: url('../images/fb.png') no-repeat; height:17px; width:17px; }
.list-links .insta{background: url('../images/insta.png') no-repeat; height:18px; width:18px; }
.list-links .twitter{background: url('../images/twitter.png') no-repeat; height:12px; width:14px; }
.list-links .link{background: url('../images/link1.png') no-repeat; height:15px; width:12px; }
.list-links .linkedin{background: url('../images/linkedin.png') no-repeat; height:17px; width:17px; }
.footer-links a:hover{color:#d8d8d8 !important;}
.list-links a:hover{opacity:.7;}

/********************************About Page*******************************/
.page-template-about .main-banner h2{text-shadow: 18px 2px 36px #ffffff !important;}
.page-template-about #company{top:0px !important;}

/*our team*/
.team{margin-bottom: 4px;}
.team h3{ margin-bottom: 23px; }
.team .team-detail{margin-bottom: 55px;}
.team .team-detail p{ line-height:21px; color: #2c3e50; max-width:520px; width:100%;margin: 0px auto; font-size: 16px;  font-family: 'Lato', sans-serif;}
.team ul li{ display: inline-block;margin-right: 16px; width: 32%; margin-bottom:69px;}
.team ul li:nth-child(3n){margin-right: 0px;}
.team ul .member-detail .member-img{ display: table; height: 313px; margin:0px auto 14px; table-layout: fixed; text-align: center;  vertical-align: middle;  }
.team ul .member-detail .member-img p{  display: table-cell;  vertical-align: middle;  height: 313px; }
.team ul .member-detail .member-img p img { display: inline-block; width: auto; height: auto; max-width: 100%; max-height: 100%; vertical-align: middle; }
.team ul .member-detail h4{ font-size: 25px; line-height: 40px; color:#2c3e50; }
.team ul .member-detail span{ line-height:34px; color: #2c3e50; font-size: 18px;  font-family: 'Lato', sans-serif;}

/********************************404 Page*******************************/
.error-404.not-found{ position: relative; margin: 10% 0px 5%;}

/*************single page links************************/
#flipbox,#company,#contact-form{position:relative;top:-130px;}
#datecmspage,#imprcmspage{position:relative;top:-110px;}
/********************************Thank you page*******************************/
.page-id-219 #primary{padding:200px 150px;}
.page-id-219 h1{color: #2c3e50; font-size: 43px;}
.page-id-219 #primary p{ font-size: 16px; margin:15px 0px; font-weight: normal;color: #2c3e50;letter-spacing: 1px;font-family: 'Lato', sans-serif;}
html{overflow-x: hidden;}
body{overflow: auto; height: 100%;}    

/***************sagar*************/
.service-button{width: 100%;display: inline-block;text-align: center;margin-top: 15px;}
.service-button .detail-btn{ width: auto; line-height: 13px; padding: 0px; line-height: 13px;  padding: 0px;display: inline-block;text-align: center;}
.service-banner .service-button{font-size: 18.09px;color: #2c3d50;line-height: 13px;border: 3px solid transparent;display: inline-block;
padding: 0px;width: auto;margin-bottom: 10px;webkit-transition: all .3s ease-in;-moz-transition: all .3s ease-in;-ms-transition: all .3s ease-in;
-o-transition: all .3s ease-in;transition: all .3s ease-in;}
.service-banner .service-button:hover{color: #000 !important;}


/*************************CMS PAGE****************************/
.main-content{width: 100%;float: left;text-align: left;margin:0 0 25px 0;}
.main-content h1{font-size: 43px;color: #2c3e50;margin-bottom: 20px;font-weight: 600;width: 100%;float: left;}
.main-content h2{font-size: 30px;color: #2c3e50;margin-bottom: 20px;margin-top: 20px; width: 100%;float: left;}
.main-content h3{font-size: 25px;color: #2c3e50;margin-bottom: 10px;width: 100%;float: left;line-height: 30px;}
.main-content p{color: #2c3e50;margin: 0px auto;font-size: 18px;font-family: 'Lato', sans-serif;width: 100%;float: left;line-height: 28px;margin-bottom: 25px;}
.main-content a{color:#5a6f8b;} 
.main-content a:hover{color: #2c3e50;}
.main-content ul{width: 100%;float: left;list-style-type: disc;padding-left: 15px;margin-bottom: 10px;}
.main-content ul li{color: #2c3e50;margin: 0px auto;font-size: 18px;font-family: 'Lato', sans-serif;width: 100%;float: left;line-height: 28px;margin-bottom: 15px;
    box-sizing: border-box;}
span.letter{font-size: 40px;}

